<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" type="text/css" href="../assets/css/style.css">

  <title>Foxplayer</title>
</head>

<body>
  <article id="player" class="player">

    <main class="playlist">
      <div class="left">
        <div class="logo"></div>
        <div class="labels">
          <h1 class="playlistLabel">Playlist</h1>
          <button class="add">+</button>
        </div>
      </div>
      <div class="artwork"></div>
    </main>
    <div class="mainPlaylist"></div>

    <aside class="tracks">
      <div class="current">
        <h1>The Awesome Album - This Cool Song</h1>
        <p>The Music Band</p>
      </div>
      <div class="tracklabels">
        <button class="add">+</button>
        <button class="favorite"></button>
      </div>
    </aside>
    <div class="mainTracks">
      <div class="track"></div>
    </div>

    <footer class="control">
      <div class="navigation">
        <button class="rewind"></button>
        <button class="playstate play"></button>
        <button class="forward"></button>
      </div>

      <div class="duration">
        <div class="start">0:00</div>
        <audio src="../assets/music/Ars_Sonor_-_02_-_Never_Give_Up.mp3"></audio>
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
        <div class="end">0:00</div>
      </div>

      <div class="preferences">
        <button class="shuffle"></button>
        <button class="volume loud"></button>
        <div class="seeker">
          <input role="progressbar" type="range" min="1" max="100" value="50" class="slider" id="volumeSlider">
        </div>
      </div>
    </footer>

  </article>
  <script src="../assets/js/main.js"></script>
</body>

</html>