<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" type="text/css" href="../assets/css/style.css">

  <title>Foxplayer</title>
</head>

<body>
  <h1>Foxplayer</h1>
  <div id="player" class="player">
    <div class="playlist">
      <div class="logo"></div>
      <div class="artwork"></div>
    </div>
    <div class="tracks">
      <div class="current"></div>
    </div>
    <div class="control"></div>
  </div>
</body>

</html>