#player {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .playlist { grid-area: 1 / 1 / 5 / 3; }
  .tracks { grid-area: 1 / 3 / 5 / 5; }
  .control { grid-area: 5 / 1 / 6 / 5; }

.playlist {
  border: 3px solid red;
  height: 600px;
}

.tracks {
  border: 3px solid blue;
  height: 600px;
}

.control {
  border: 3px solid lawngreen;
  height: 100px;
}