body {
  display: flex;
  justify-content: center;
}

#player {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 1400px;
  margin: 50px;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0px 10px 23px -2px rgba(78, 78, 78, 0.507);
}

/* PLAYLIST COMPONENTS */

.playlist {
  grid-area: 1 / 1 / 5 / 3;
  display: flex;
  flex-direction: row;
  height: 650px;
}

.logo {
  background-image: url("../img/foxplayer.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-top-left-radius: 10px;
  height: 200px;
  flex: 2;
}

.artwork {
  background-image: url("../img/music-placeholder.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  flex: 1;
}

/* TRACK COMPONENTS */

.tracks {
  grid-area: 1 / 3 / 5 / 5;
  height: 650px;
  border: 1px dashed blueviolet;
}

.current {
  height: 100px;
}

/* CONTROL PANEL */

.control {
  grid-area: 5 / 1 / 6 / 5;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px dashed blue;
}

/* CONTROL PANEL/Navigation */

.navigation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px dashed red;
  grid-area: 3 / 1 / 3 / 2;
  margin-left: 25px;
}

.rewind {
  background-image: url("../img/rewind.svg");
  background-repeat: no-repeat;
  background-size: contain;
  flex: 1;
}

.playstate {
  background-image: url("../img/play.svg");
  background-repeat: no-repeat;
  background-size: contain;
  flex: 1;
}

.forward {
  background-image: url("../img/forward.svg");
  background-repeat: no-repeat;
  background-size: contain;
  flex: 1;
}

/* CONTROL PANEL/Duration */

.duration {
  grid-area: 3 / 2 / 4 / 4;
  border: 1px dashed green;
}

/* CONTROL PANEL/Preferences */

.preferences {
  display: grid;
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px dashed red;
  grid-area: 3 / 4 / 4 / 4;
  margin-right: 25px;
}

.shuffle {
  background-image: url("../img/shuffle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  flex: 1;
}

.volume {
  background-image: url("../img/volume.svg");
  background-repeat: no-repeat;
  background-size: contain;
  flex: 1;
}

.seeker {
  flex: 3;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}




/*
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  */
  